<div class="container navplace">
  <div class="row mar-top">
    <div class="col-md-12">
      <h1>Contact us</h1>
      <%= flash[:notice] %>
      <%= form_tag("/static_pages/thank_you") do %> <!-- create a route and the file!--> 
      <div class="col-sm-6">
        <div class="form-group">
          <%= label_tag :name, nil, title: "required" %>
          <%= text_field_tag :name, nil, class: "form-control", placeholder: "Enter Name", required: "required" %>
        </div>
        <div class="form-group">
          <%= label_tag :email, "Email Address", title: "required" %>
          <%= text_field_tag :email, nil, class: "form-control", placeholder: "Enter Email", type: "email", required: "required" %>
        </div>
        <div class="form-group">
          <%= label_tag :message, nil, title: "required" %>
          <%= text_area_tag :message, nil, class: "form-control", placeholder: "Enter Message", required: "required"  %>
        </div>
        <%= submit_tag "Send", class: "btn btn-default" %>   
        <% end %>
      </div>
    </div>
  </div>
</div>