<div class="container-fluid">
   <!-- <%#= @featured_product.name %> -->
   <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
         <!-- dynamically change the amount of indicators depending on the amount of products -->
         <% @products.each_with_index do |product, i| %>
         <li data-target="#carousel-example-generic" data-slide-to="<%= i %>" class=<%= " active" if i == 0 %>></li>
         <% end %>
      </ol>
      <!-- Wrapper for slides -->
      <% cache do %>
      <div class="carousel-inner" role="listbox">
         <% @products.each do |product| %>
         <div class="item<%= " active" if product == @products.first %>">
            <%= image_tag(product.image_url) %>
            <div class="carousel-caption">
               <div class="caption-background">
                  <%= product.name %> 
                  <%#= params[:example_key].to_i * 3 %>
               </div>
            </div>
         </div>
         <% end %>
      </div>
      <% end %>
      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
      </a>
   </div>
</div>