<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
   <div class="container-fluid">
      <div class="navbar-header">
         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         </button>
      </div>

      <div class="navbar-collapse collapse">
         <ul class="nav navbar-nav navbar-left">
            <li><%= link_to('home', root_path) %></li>
            <li><%= link_to('products', products_path) %></li>
            <li><%= link_to('about', static_pages_about_path) %></li>
            <li><%= link_to('contact', static_pages_contact_path) %></li>
         </ul>

         <ul class="nav navbar-nav">
            <li>
               <% if user_signed_in? %>
                  <%= link_to("Logout", destroy_user_session_path, :method => :delete, class: "btn btn-default navbar-btn") %>
               <% else %>
                  <%= link_to("Login", new_user_session_path, class: "btn btn-default navbar-btn") %>
               <% end %>
            </li>
         </ul>

         <%= form_tag("/products", method: "get", class: "navbar-form navbar-right") do %>
         <div class="form-group">
            <%= label_tag(:q, "Search for:", class: "sr-only") %>
            <%= text_field_tag(:q, nil, class: "form-control", placeholder: "Search") %> <!-- nil --> 
         </div>
         <%= submit_tag("Go!", class: "btn btn-default navbar-btn") %>
         <% end %> 
      </div>
   
   </div>

   <div class="container-fluid">
      <%= render "shared/notifications" %>
   </div>

</nav>