<div class="container navplace">
	<p id="notice"><%= notice %></p>

	<p class="h2">
	  <%= @product.name %>
	</p>

	<p>
	  <strong>Description:</strong>
	  <%= @product.description %>
	</p>

	<p>
		<%= image_tag(@product.image_url, class: "img-responsive img-thumbnail") unless @product.image_url.blank? %> 
	</p>

	<p>
	  <strong>Colour:</strong>
	  <%= @product.colour %>
	</p>

	<p>
	  <strong>Price:</strong>
	  <%= @product.price %> €
	</p>

	<p>
		<strong>Comment:</strong>
		
		<%#= @product.highest_rating_comment %> <!-- does'n work -->
		<%= @product.highest_rating_comment.body%> <!-- works local -->
	</p>


	<%= link_to 'Edit', edit_product_path(@product), class: "btn btn-default" %>
	<%= link_to 'Back', products_path, class: "btn btn-default" %>
</div>