<div class="container navplace">
  <div class="row mar-top">
    <div class="col-md-6">
      <%= render "details" %>
    </div>
    <div class="col-md-6">
      <%= image_tag(@product.image_url, class: "img-responsive img-zoom", data_zoom_image: "@product.image_url") %>
    </div>
  </div>
  <div class="row mar-top">
    <%= render "examples" %>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= render "new_comment" %>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6">
      <div class="alert alert-info" style="display:none" role="alert">A new comment was posted!</div>
      <%= render "comments" %>
      <%= will_paginate @comments, renderer: BootstrapPagination::Rails, class: "pagination-sm" %>
    </div>
    <div class="col-xs-12">
      <% if signed_in? && current_user.admin? %>
        <%= link_to 'Edit', edit_product_path(@product), class: "btn btn-default" %>
      <% end %>  
        <%= link_to 'Back', products_path, class: "btn btn-default" %>  
    </div>
  </div>
</div>