
<div class="container navplace">
    <div class="row mar-top">

      <div class="col-md-6">
        <%= image_tag(@product.image_url, class: "img-responsive") %>
      </div>

      <div class="col-md-1">
              <h2>Name:</h2>
              <h3>Price:</h3>
              <h3>Colour:</h3>
              <p>Description</p>
      </div>
            <div class="col-md-5">
              <h2><%= @product.name %></h2>
              <h3><%= @product.price %> Eur</h3>
              <h3><%= @product.colour %></h3>
              <p><%= @product.description %></p>
      </div>

    </div>

    <div class="row mar-top">

        <div class="col-md-6 col-xs-12">
            <div class="container">
              <% @product.highest_rating_comment.rating.times do %>
              <span class="glyphicon glyphicon glyphicon-star"></span>
              <% end %>
              <h5>Best Comment</h5>
              <p><%= @product.highest_rating_comment.body %></p>
            </div>
        </div>

        <div class="col-md-6 col-xs-12">
            <div class="container">
              <% @product.lowest_rating_comment.rating.times do %>
              <span class="glyphicon glyphicon glyphicon-star"></span>
              <% end %>
              <h5>Worst Comment</h5>
              <p><%= @product.lowest_rating_comment.body %></p>
            </div>
        </div>
      
    </div>
    
    <%= link_to 'Edit', edit_product_path(@product), class: "btn btn-default" %>
    <%= link_to 'Back', products_path, class: "btn btn-default" %>
</div>