<!DOCTYPE html>
<html>
   <head>
   <%= render 'shared/head' %>
   </head>

   <body>

     	<%= render 'shared/navigation' %>
      
      <!-- flash messages when sign in -->
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <!-- rails content -->
      <%= yield %>
      <!-- /rails content-->

      <%= render 'shared/footer' %>

   </body>
</html>